*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* Banner styles */
.banner{
    background-image: url(../images/banner/banner1.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    align-items: left;
} 
.banner-tittle{
    color: #151414;
    font-size: 65px;
    font-weight: 700;
    text-align: right;
    padding-top: 216px;
    padding-right: 230px;
}
.banner-description{
    color: #444343;
    font-size: 16px;
    text-align: right;
    padding-right: 230px;
    margin-top: 24px;
}
.contact-button{
    background-color: #F15B22;
    border-radius: 5px;
    height: 64px;
    padding: 25px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    margin-right: 230px;
    margin-bottom: 166px;
    text-align: center;
}
.button-right{
    text-align: right;
}

/* Person Section Style */
.person{
    display: flex;
}
.person-image{
    margin-left: 206px;
    margin-top: 130px;
}
.person-tittle{
    font-size: 40px;
    font-weight: 700;
    margin-top: 370px;
    margin-left: 87px;
}
.person-tittle-description{
    font-size: 16px;
    color: #444343;
    margin-left: 87px;
}
.person-point{
    margin-left: 87px;
    margin-top: 16px;
    font-size: 16px;
    color: #444343;
}
.person-head{
    margin-top: 8px;
    font-size: 16px;
    color: #444343;
}
.check{
    color: #16D887;
    height: 24px;
    width: 24px;
}

/* My Plane styles */
.plane-tittle{
    margin-top: 130px;
    margin-bottom: 56px;
    text-align: center;
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}
.plane-section{
    display: flex;
    gap: 30px;
    justify-content: space-between;
}
.my-plans-tittle{
    color: #151414;
    font-size: 30px;
    font-weight: 700;
}
.my-plans-description{
    color: #737272;
    font-size: 25px;
    font-weight: 500;
}

/* Call Now style */
.call-section{
    margin: 130px 230px;
}
.call-now{
   background-image: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%),url(../images/watch.png);
   background-repeat: no-repeat;
   height: 50%;
   background-position: center;
   background-size: cover;
   position: relative;
   
}
.call{
    text-align: left;
    padding-top: 60px;
    margin-left: 65px;
}
.call-tittle{
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 700;
}
.call-button{
    padding: 25px;
    text-align: center;
    color: #F15B22;
    font-size: 20px;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 60px;
    margin-left: 65px;
}